@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --text: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
    --text: 255, 255, 255;
  }
}

@layer utilities {
  .rotate-on-hover {
    @apply hover:rotate-[180deg] hover:scale-110 transition duration-700;
  }
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
}

h1 {
  @apply text-2xl text-balance font-bold my-2;
}
h2 {
  @apply text-xl text-balance my-1;
}